* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to bottom right,
        rgb(83, 33, 33),
        #1d4e77
    );
    font-family: Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calc {
    box-shadow: 0px 10px 24px rgba(0,0,0,0.3);
}

.bg-for-score {
    background-color: #181818;
    height: 115px;
    width: 100%;
    position: relative;
}

table {
    border-collapse: collapse;
    background-color: #181818;
}

input {
    color: white;
    height: 75px;
    width: 75px;
    text-align: center;
    position: relative;
    font-size: 20px;
    border: none;
    margin: 1px;
}

input:hover {
    background-color: #343434;
}

.actions {
    background-color: #131313;
}

.th-number1 {
    background-color: #222222;
}

.th-number2 {
    background-color: #242424;
}

.th-number3 {
    background-color: #262626;
}

.td-number1 {
    background-color: #232323;
}

.td-number2 {
    background-color: #252525;
}

.td-number3 {
    background-color: #272727;
}

button {
    background-color: #133a59;
    border: none;
    color: white;
    height: 75px;
    width: 152px;
    outline: 1px #181818 solid;
}

button:hover {
    background-color: #035ca2;
    border: none;
}

p {
    color: white;
    font-size: 44px;
}

.operation {
    color: #a5a5a5;
    font-size: 14px;
}

.field-for-numbers {
    text-align: right;
    padding: 25px 20px;
}

.bg__img {
    position: absolute;
    opacity: 0.1;
}

.bg__img_element {
    height: 112px;
    width: 112px;
    top: 40%;
    left: 10%;
    transform: skew(15deg);
    animation: elementmove 8s linear infinite alternate;
}

.bg__img_triangle {
    left: 60%;
}

.bg__img_pattern {
    top: -12%;
    left: 60%;
    transform: rotate(-25deg);
    animation: patternmove 13s linear infinite;
}

@keyframes elementmove {
    from {top: 40%; left: 0}
    to {top: 0; left: 20%}
}

@keyframes patternmove {
    from {top: -12%; left: 60%;}
    to {top: 50%; left: 100%;}
}